<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of a Circle</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo_version2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <style>
        body { 
            background-color: #c4d6b0;
            font-family: 'Georgia', serif;
            font-size: 25px; 
            margin: 0;
            padding: 0;
        }

        h1, p {
                margin: 20px;
                text-align: center;
            }
        
    </style>
</head>
<body>
    <nav> <!-- WORKING!! NAV BARS GAHDAMMMMMM -->
        <ul>
            <li><a href="/#home">Home</a></li>
            <li><a href="/#profile">Profile</a></li>
            <li><a href="/#works">Works</a></li>
            <li><a href="/#contact">Contact</a></li>

        </ul>
    </nav>
    <h1 style="color: #58355e;">Eunice Q. Reyes</h1>
    <p style="color: #58355e;">This is a simple profile page rendered using Flask's templating.</p>
    <p style="color: #58355e;">Create your profile here with Name, section , course, subject and display your favorite sayings or motto! using html tags </p>
</body>
</html>
