<!-- PERSONAL WEBFOILIO!! -->
<!-- changes: moved style css to another html for ease -->

<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eunice Q. Reyes - Home</title>
    <link rel="icon" href="{{ url_for('static', filename='images/website logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#profile">Profile</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Home section -->
     <section id="home" class="section">
        <p>Hello there, I am Eunice Q. Reyes!</p>
        <h1 id="main-title">Welcome To My Portfolio</h1>
        <p>Dive into my world</p>
        <div style="text-align:center; margin-top: 20px">
            <a href="#profile" class="scroll-btn">About Me</a>
        </div>
     </section>

    <!-- Profile section -->
    <!-- PROBLEM: update profile section to draft plan with profile pic, intro and desc, programming languages, and scroll-btn to works-->
     <section id="profile" class="section">
        <h1 class="section-title">Profile</h1>
        <p>Hello! I'm Eunice Reyes, a Bachelor of Science in Computer Engineering (BSCPE) student currently enrolled in the Polytechnic University of the Philippines (PUP).
            I am still exploring the world of programming and consider myself to be at beginner-intermediate level in Python and HTML.
        </p>
     </section>

    <!-- works section// UNDER CONSTRUCTION-->
    <h1 class="section-title">My Works in Programming</h1>
    <p>Listed below are my ongoing projects in Data Structures and Algorithm</p>

    <ul class="works-list">
        <li><a href="/works">toUpperCase</a></li>
        <li><a href="/areaOfcircle">Area of a Circle</a></li>
        <li><a href="/areaOfTriangle">Area of a Triangle</a></li>
    </ul>

    <script src="{{ url_for('static', filename='scroll.animate.js') }}"></script>
</body>
</html>

