<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infix to Postfix</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo_version2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- working nav bars ahhaha -->
    <nav>
        <ul>
            <li><a href="/#home">Home</a></li>
            <li><a href="/#profile">Profile</a></li>
            <li><a href="/#works">Works</a></li>
            <li><a href="/#contact">Contact</a></li>

        </ul>
    </nav>
    
    <section id="infixtopostfix" class="section"> <!-- THIS IS IMPORTANT TO MATCH FORMAT OF MAIN !! -->
        <h1 id="section-title">Infix to Postfix Converter</h1>
        <form method="POST" style="text-align: center; margin-top: 20px;">
            <input type="number" step="any" name="infix" placeholder="Enter the Infix Expression" required>
            <button type="submit">Convert</button>
        </form>
    