<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <style>
        body { 
            background-color: #c4d6b0;
            font-family: 'Georgia', serif;
            font-size: 25px; 
            margin: 0;
            padding: 0;
        }

        h1, p {
                margin: 20px;
                text-align: center;
            }
        
    </style>
</head>
<body>
    <h1 style="color: #58355e;">Eunice Q. Reyes</h1>
    <p style="color: #58355e;">This is a simple profile page rendered using Flask's templating.</p>
    <p style="color: #58355e;">Create your profile here with Name, section , course, subject and display your favorite sayings or motto! using html tags </p>
</body>
</html>
