<!-- UPDATE format to match main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert String to Uppercase</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo_version2.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- DON'T FORGET THE NAVBAR NEEDS TO GO TO THE RIGHT PLACES
     HENCE THE URL_FOR KINEMERUT GAHDAMMM -->
    <nav>
        <ul>
            <li><a href="/#home">Home</a></li>
            <li><a href="/#profile">Profile</a></li>
            <li><a href="/#works">Works</a></li>
            <li><a href="/#contact">Contact</a></li>

        </ul>
    </nav>
    
    <section id="Uppercase" class="section"> <!-- THIS IS IMPORTANT TO MATCH FORMAT OF MAIN !! -->
        <h1 id="section-title">Convert String to Uppercase</h1>

        <form action="/works" 
        method="post" 
        style="text-align: center; margin-top: 20;">
            <label for="inputString">Enter a string:</label>
            <input type="text" id="inputString" name="inputString" required>
            <input type="submit" value="Convert">
        </form>

        {% if result %}
        <p style="text-align: center; margin-top: 20px;">Converted string: {{ result }}</p>
        {% endif %}
    </section>
</body>
</html>
